{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://world",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "1.23.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "LegacyAnimationSupport": false,
      "PlayerEntityAuthorityCheck": false,
      "ServiceAuthorityCheck": false,
      "RestrictedPlayerEntitySync": false,
      "SourceLanguage": "ko",
      "UseExtendedScriptFormat": true,
      "UseFadeInOut": false,
      "FadeInTime": 0.0,
      "FadeOutTime": 0.0,
      "config_id": "config://world"
    }
  }
}